@charset "UTF-8";
html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure,figcaption{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
abbr,acronym{border:0;font-variant:normal}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{font-size:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section { display: block }
caption { text-align: left; }
img { vertical-align: top; }
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
main {display: block;/* for IE */}
address,caption,cite,code,dfn,em,strong,var,b {
	font-style: normal;
	font-weight: normal;
}
input,button,textarea,select {
	font-size: 100%;
	font-family: inherit;
	color: inherit;
}
input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
li {list-style: none;}


/*==================================================
Body_Bace
==================================================*/
body {
	overflow-x: hidden;
	font-size: 14px;
	line-height: 140%;
	color: #333; 
	font-family:'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	min-width: 1000px;
	background: url(../img/bg_main.gif) repeat 0 0;
}
.wrapper {
	background: url(../img/bg_top.png) no-repeat 50% 50px;
}
#home .wrapper {
	background: url(../img/bg_home_top.png) no-repeat 50% 0;
}
#header,
.footer {
	width: 1000px;
	margin: 0 auto;
}
.sp {display: none !important;}


/* link
-------------------------------------*/
a,a:hover {
	color: #333;
	text-decoration: none; 
}

/*==================================================
Header
==================================================*/
#header {
	position: relative;
	padding: 4px 0 0;
}
#header h1 {
	position: relative;
	width: 463px;
	float: right; 
	padding: 4px 0 0;
	z-index: 8010;
}
.fixheader {
	padding-top: 200px !important;
}

/* gnav
-------------------------------------*/
.gnav {
	width: 525px;
	float: left;
	padding: 38px 0 0;
}
.gnav li {
	min-width: 165px;
	float: left;
	padding: 10px 10px 10px 0;
}
.gnav a,
.gnav .nolink {
	display: block;
	padding: 2px 0 2px 22px;
	color: #fff;
	background: url(../img/icn_gnav.png) no-repeat 0 0;
	background-size: 25px 170px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.gnav .nolink {
	color: #600;
}
.gnav a:hover,
.gnav a.current {
	color: #fcce27;
	background-position: 0 -45px;
}
.gnav a .i-tab {
	padding: 0 20px 0 0;
	background: url(../img/icn_gnav.png) no-repeat right -95px;
}
.gnav a:hover .i-tab,
.gnav a.current .i-tab {
	background-position: right -140px;
}
.gnav a .new {
	line-height: 1;
	padding: 1px 5px;
	margin: 0 0 0 2px;
	color: #1f1c12;
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
	font-family: "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝", serif;
	background: #fcce27;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px; 
	text-shadow: none;
}

.gnav .note a {
	overflow: hidden;
	display:block;
	position: absolute;
	bottom: -120px;
	left: 100px;
	width: 158px;
	height: 110px;
	white-space: nowrap;
	text-indent: 100%;
	z-index: 3333;
	background: url(../img/btn_designersnote.png) no-repeat 0 0;
}
.gnav .reserve {
	margin: -17px 0 0 1px;
}
/* fixnav */
.fixnav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3333;
	border-top: 4px solid #320000;
	border-bottom: 1px solid #1e1e1e;
	background: url(../img/bg_main.gif) repeat 0 0;
	box-shadow: 0px 7px 3px -3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 7px 3px -3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 7px 3px -3px rgba(0,0,0,0.5);
}
.fixnav .fixinr {
	width: 1000px;
	margin: 0 auto;
}
#header .fixnav h1 {
	width: 218px;
	float: left;
}
#header .fixnav h1 img {
	width: 218px;
}
#header .fixnav .gnav {
	width: 720px;
	float: right;
	padding: 5px 0;
}
#header .fixnav .gnav li {
	min-width: 50px;
	padding: 10px 30px 10px 0;
}
#header .fixnav .gnav a {
	font-size: 13px;
}
#header .fixnav .note {
	display: none;
}

/*================================================== 
#contents
==================================================*/ 
h1.ttl {
	padding: 140px 0 205px;
	text-align: center;
}



/*================================================== 
Footer 
==================================================*/ 
#footer {
	min-height: 354px;
	padding: 150px 0 140px;
	position: relative;
	color: #aaa;
	font-size: 13px;
	background: url(../img/bg_footer.png) no-repeat 50% bottom;
}
#home #footer {
	padding: 50px 0 140px;
}
#footer p {
	width: 720px;
	padding: 10px 0 0;
}
#copy {
	display: block;
	padding: 40px 0 0;
	font-size: 12px;
}
#pagetop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 7999;
}
.bunner {
	width: 840px;
	margin: 0 auto 200px;
}
.bunner li {
	float: left;
	padding: 0 5px 10px;
}
.footer p a {
	display: block;
	float: left;
	margin: 0 20px 0 0;
}
.footer .sns li {
	display: inline;
	padding: 5px;
}
.footer .sns li.fb {
	position: relative;
	top: -7px;
	height: 20px;
}

/*================================================== 
clearfix
==================================================*/
ul:after,
#header:after,
.home_product .inr:after,
.chara .heruman:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/*================================================== 
fancybox
==================================================*/
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}
.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}
.fancybox-skin {
	position: relative;
	background: #fff;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.fancybox-opened {
	z-index: 8030;
}
.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner {
	position: relative;
}
.fancybox-inner {
	overflow: hidden;
}
/*
.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
	height: 800px !important;
}
*/
.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}
.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../js/img/fancybox_sprite.png');
	
}
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -216px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}
#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../js/img/fancybox_loading.gif') center center no-repeat;
}
.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 73px;
	height: 73px;
	cursor: pointer;
	z-index: 9999;
}
#home .fancybox-close {
	position: absolute;
	top: -30px;
	right: -30px;
}
.fancybox-nav {
	position: absolute;
	top: 50%;
	width: 72px;
	height: 68px;
	margin-top: -36px;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../js/img/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}
.fancybox-prev {
	left: 0;
}
.fancybox-next {
	right: 0;
}
.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 72px;
	height: 68px;
	margin-top: -36px;
	cursor: pointer;
	z-index: 8040;
/* 	visibility: hidden; */
}
.fancybox-prev span {
	left: -50px;
	background-position: 0 -72px;
}
.fancybox-next span {
	right: -50px;
	background-position: 0 -144px;
}
.fancybox-nav:hover span {
	visibility: visible;
}
.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}
/* Overlay helper */
.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}
.fancybox-lock body {
    overflow: hidden !important;
}
.fancybox-lock-test {
    overflow-y: hidden !important;
}
.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../js/img/fancybox_overlay.png');
}
.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
/*     overflow-y: hidden !important; */
		overflow-y: scroll;
}
/* Title helper */
.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}
.fancybox-opened .fancybox-title {
	visibility: visible;
}
.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}
.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}
.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}
.fancybox-title-inside-wrap {
	padding-top: 10px;
}
.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){
	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../js/img/fancybox_sprite@2x.png');
		background-size: 88px 304px; /*The size of the normal image, half the size of the hi-res image*/
	}
	#fancybox-loading div {
		background-image: url('../js/img/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

/* chara */
#chara .fancybox-wrap {
	padding: 0;
}
#chara .fancybox-close {
	top: 130px;
	right: 50px;
}
#chara .fancybox-skin {
	background: url('./img/bg_heruman.png') no-repeat 0 0;
	box-shadow: none;
}
#chara .fancybox-type-iframe .fancybox-inner {
	min-height: 1000px;
	height: 1200px !important;
}

@media(min-width:1px) and (max-width:1100px) {
	#chara .fancybox-prev span {
		left: 20px;
	}
	#chara .fancybox-next span {
		right: 20px;
	}
}/* end 1100px */

@media(min-width:1px) and (max-width:1000px) {
	#chara .fancybox-type-iframe .fancybox-inner {
		height: 1500px !important;
	}
	#chara .fancybox-nav {
		top: 40%;
	}
}/* end 1000px */

@media(min-width:1px) and (max-width:640px) {
	#chara .fancybox-type-iframe .fancybox-inner {
		height: 1200px !important;
	}
	#chara .fancybox-close {
	top: 50px;
	right: 0;
	}
	#chara .fancybox-prev span {
		left: -30px;
	}
	#chara .fancybox-next span {
		right: -30px;
	}
}/* end 640px */

@media(min-width:1px) and (max-width:480px) {
	#chara .fancybox-close {
	top: 0;
	}
	#chara .fancybox-nav {
		top: 30%;
	}
}/* end 480px */
