p.anime02{
 zoom: 1;
 display: table;
 line-height: 1;
 text-shadow: 0 1px 0 #3f3f3f;
 float: left;
 }
p.anime02,
p.anime02 span{
 -webkit-animation-duration: 1.5s;
 -webkit-animation-timing-function: ease-out;
 -webkit-animation-iteration-count: infinite;
 }

p.anime02 span{
 display: inline-block;
 -webkit-transform-origin: middle center;
 -webkit-transform: scale(1);
 -webkit-animation-name: anime02;
 background: #369;
 color: #fff;
 font-weight: bold;
 padding: 4px;
 position: relative;
 bottom: 0;
 }
.ani02_e	{-webkit-animation-delay: 0.2s;}
.ani02_x	{-webkit-animation-delay: 0.4s;}
.ani02_t2	{-webkit-animation-delay: 0.6s;}
@-webkit-keyframes anime02 {
0%	{bottom: 0;}
70%	{bottom: 0;}
85%	{bottom: 7px;}
100%	{bottom: 0;}
}
