@charset "UTF-8";
body {
	overflow-x: auto;
	min-width: 100%;
	line-height: 1.5em;
	-webkit-text-size-adjust: none;
}
img {
	max-width: 100%;
	width : auto;
	height: auto;
}
.pc {display: none !important;}
.sp {display: block !important;}

.header,
#main,
.footer {
	width: 100%;
	margin: 0 auto;
}

/*==================================================
#header
==================================================*/
#header {
	width: 100%;
}
#header h1 {
	width: 300px;
	float: none;
	margin: 0 auto;
}

/* gnav
-------------------------------------*/
.gnav {
	width: 100%;
	float: none;
	padding: 0;
}
.gnav li {
	width: 100%;
	float: none;
	padding: 0;
}
.gnav a:hover,
.gnav a.current {
	background-position: 0;
}
.gnav .note a {
	overflow: hidden;
	display:block;
	position: relative;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	white-space: normal;
	text-indent: 0;
	z-index: 7777;
	background: none;
}
.gnav a .i-tab {
	background: none;
}
.gnav .reserve {
	margin: -15px 0 0 0;
	width: 42px;
}
/* gnav-----MeanMenu
-------------------------------------*/
a.meanmenu-reveal {
	display: none;
}
.mean-container .mean-bar {
	width: 100%;
	float: left;
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 0;
	z-index: 999;
}
.mean-container a.meanmenu-reveal {
	display: block;
	position: absolute;
	top: 20px;
	right: 0;
	width: 50px;
	height: 47px;
	padding: 10px;
	margin-right: 10px;
	cursor: pointer;
	font-size: 20px !important;
	color: #7d0000;
	background: url(../img/bg_gnav_sp.png) no-repeat 10px 0px;
	background-size: 50px 47px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	z-index: 9999;
}
.mean-container a.meanmenu-reveal span {
	display: block;
	height: 3px;
	margin: 4px 15px;
	background: #7d0000;
}
.meanclose {
	font-weight: bold;
	padding: 13px 10px 10px 10px !important;
	background: #7d0000;
}
.mean-container .mean-nav {
	float: left;
	width: 100%;
	margin-top: 130px;
}
.mean-container .mean-nav ul {
	position: relative;
	width: 90%;
	margin: 0 5%;
	list-style-type: none;
	border: 2px solid #fff;
	 box-shadow:rgba(0, 0, 0, 0.5) 0px 0px 8px 6px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.5) 0px 0px 8px 6px;
	-moz-box-shadow:rgba(0, 0, 0, 0.5) 0px 0px 8px 6px; 
}
.mean-container .mean-nav ul li {
	position: relative;
	box-sizing: border-box;
	width:100%;
	float: none;
	font-weight: bold;
	list-style-type: none !important;
	border-bottom: 2px solid #fff;
	background: url(../img/bg_main.gif) repeat 0 0;
}
.mean-container .mean-nav ul li a,
.mean-container .mean-nav ul li .nolink {
	display: block;
	float: none;
	width: 87%;
	height: auto;
	padding: 1.5em 3% 1.5em 10%;
	margin:0;
	text-align: left;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	background: none;
}
.mean-container .mean-nav ul li .nolink {
	color: #600;
}
.mean-container .mean-nav ul li a:hover {
	opacity: 0.7;
}
.mean-container .mean-nav ul li a::after,
.mean-container .mean-nav ul li .nolink::after {
	content:"";
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	width: 11px;
	height: 11px;
	margin-top: -7px;
	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}
/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	z-index:8000;
}
.mean-remove { display: none !important; }


/* breadcrumb
-------------------------------------*/
.breadcrumb ol {
	width: 94%;
	margin: 1em 3%;
/* 	font-size: 12px; */
}
.breadcrumb li {
	float: left;
	padding: 5px 10px 5px 0;
}
.breadcrumb li+li {
	padding-left: 5px;
}
.breadcrumb li a {
	padding: 0 10px 0 0;
	color: #fb6d01;
	text-decoration: underline;
}

/*==================================================
#footer
==================================================*/
#footer {
	min-height: 100px;
	padding: 0;
	background: #000;
}
.footer {
	width: 94%;
	padding: 3%;
}
#footer p {
	width:100%;
	padding: 10px 0 0;
}
#pagetop {
	width: 70px;
	height: 68.5px;
}
.bunner {
	width: 94%;
	padding: 3% 0 0;
	margin: 0 3% 10px;
}
.bunner li {
	width: 31.333%;
	padding: 0 1% 2%;
}
.bunner li img {
	width: 100%;
}

/*================================================== 
icn-font
==================================================*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-fq76rz');
	src:url('../fonts/icomoon.eot?#iefix-fq76rz') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-fq76rz') format('woff'),
		url('../fonts/icomoon.ttf?-fq76rz') format('truetype'),
		url('../fonts/icomoon.svg?-fq76rz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
 [class^="icon-"], [class*=" icon-"] ,
.gnav a,.i-tab {
	line-height: 1;
}
.gnav a:before,
.i-tab:after {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.gnav a:before {
	display: block;
	position: absolute;
	top: 23%;
	left: 0;
	content: "\e600";
	font-size: 35px;
	padding: 0 10px;
}
.i-tab:after {
	content: "\ea7e";
	padding: 0 0 0 10px;
}
/* .icon-new-tab:before { content: "\ea7e";}
	.icon-mark:before { content: "\e600";}
*/

/*==================================================
fancybox
==================================================*/
.fancybox-prev span {
	left: 0;
}
.fancybox-next span {
	right: 0;
}
/* .fancybox-close {
	top: 0;
	right: 0;
} */
.fancybox-iframe img {
	width: 100%;
}



/*==================================================
#home
==================================================*/
#homemain {
	position: relative;
	padding: 0 0 5%;
	background: none;
}
.promotion {
	min-height: 100%;
	overflow: hidden;
	background: url(../img/bg_promotion.png) no-repeat 0 0;
	background-size: 100%;
}
.promotion .inr {
	position: relative; 
	width: 100%;
	margin:0 auto 10%;
}
.promotion h2 {
	padding: 0 0 0 45%;
}
.promotion h2 img {
	width:50%;
}
.promotion .date {
	max-width: 354px;
	width: 30%;
	top: 45%;
	left: 0;
}
.promotion figure.movimg img {
	max-width: 394px;
	width: 40%;
	top: 48%;
	left: 15%;
}
.promotion .mov a {
	display: none;
}
.promotion p {
	max-width: 590px;
	width: 75%;
	padding: 30% 0 0;
	margin: 20% auto 5%;
	text-align: center;
}
.promotion .mov {
	top: 46%;
	left: 15%;
}
.promotion .mov a {
	top: 90%;
}






/* home_blog */
.home_blog {
	position: relative;
	width: 94%;
	height: auto;
	margin: 20px 3% 70px;
}
.home_blog h2 {
	width: 133px;
	height: 38px;
	padding: 0;
	margin: 0 auto 20px;
	text-align: center;
	background-size: 133px;
}
.home_blog h3 {
	width: 140px;
	height: 13px;
	padding: 0 0 60px;
	margin: 0 auto;
	background-size: 140px;
}
.ttl_blog {
	content:attr(data-label);
}
.ttl_blog img {
	display:none;
}
.home_blog h2 img+img {
	padding: 25px 0 0;
}
.home_blog figure img.chara01,
.home_blog figure img.chara02,
.home_blog figure img.chara03 {
	display: none;
}
.home_blog .bx-wrapper .bx-prev {
	left: 0;
}
.home_blog .bx-wrapper .bx-next {
	right: 0;
}

/* home_product */
.home_product {
	width: 94%;
	height: auto;
	margin: 0 3%;
	background: none;
}
.home_product .inr {
	width: 100%;
	margin: 0 auto;
}
.home_product h2 {
	width: 168px;
	height: 28px;
	margin: 0 auto 20px;
	background-size: 168px;
}
.home_product h3 {
	width: 94px;
	height: 13px;
	padding: 20px 0 0;
	background-size: 94px;
}
.home_product dl {
	width: 100%;
	background: #f9e9cf;
}
.home_product h3+dl {
	width: 94%;
	padding:  3% 3% 0;
}
.home_product dl+dl {
	width: 94%;
	padding:  0 3% 3%;
}
.home_product dt,
.home_product dl+dl dt {
	width: 100px;
	padding: 10px 0;
}
.home_product dd {
	padding: 10px 0 10px 100px;
	border-bottom: 1px dotted #958c7c;
}
.home_product dl+dl dd:last-child {
	border-bottom: none;
}
.home_product dl+dl dd {
	padding: 10px 0 10px 100px;
}

/*==================================================
#page
==================================================*/
/* ---------- common -------------------- */
h1.ttl {
	padding-top: 200px;
}

/* ---------- story -------------------- */
.story {
	position: relative;
	width: 80%;
	height: auto;
	padding: 100px 7% 50px;
	margin: 0 3% 50px;
	background-size: contain;
}
.story p {
	font-size: 19px;
	line-height: 180%;
}
.story p+p {
	padding: 10% 0 0;
}
.story figure {
	padding: 40px 0;
}
.story figure img {
	width: 30.5%;
	position: relative;
	padding: 0 1%;
}
.story .scene01,
.story .scene02,
.story .scene03 {
	top: auto;
	left: auto;
	right: auto;
}

/* ---------- chara -------------------- */
.chara {
	background: none;
}
.chara .type {
	position: relative;
	width: 100%;
	padding: 20px 0;
	margin: 0 auto;
}
.chara .type .bx-wrapper {
	padding-top: 10px;
}
.chara .type ul {
	display: inline;
}
.chara .type li {
	text-align: center;
}
.chara .type li img {
	height: 400px;
}
.majin ul li:nth-child(4) img {
	height: 300px;
}

.chara h2+img {
	display: none;
}
.chara .type h2 img {
	width: 25%;
}
.chara .rance {
	background-size: 100%;
}
.chara .heruman {
	background: url(../img/bg_main_blue.jpg) repeat 0 0;
}
.chara .heruman .inr {
	background: url(../img/bg_chara_h.png) no-repeat 50% 30px;
	background-size: 100%;
}
.chara .heruman h2 {
	float: none;
	padding: 0;
	text-align: center;
}
.chara .majin {
	background: url(../img/bg_main_blown.gif) repeat 0 0;
}
.chara .majin .inr {
	position: relative;
	background: url(../img/bg_chara_m.png) no-repeat 50% 10px;
	background-size: 100%;
}
.chara .majin h2 {
	position: relative;
	top: auto;
	left: auto;
	text-align: center;
}
.chara .majin h2 img {
	width: 20%;
}
.chara .various {
	width: 100%;
	margin: 0 0 40px;
	background: url(../img/bg_chara_v.png) no-repeat 50% 65px;
	background-size: 90%;
}
.chara .various h2 {
	padding: 0;
	text-align: center;
}


/* pager */
.chara .bx-wrapper .bx-pager {
text-align: center;
font-size: .85em;
font-family: Arial;
font-weight: bold;
color: #666;
padding-top: 20px;
}
.chara .bx-wrapper .bx-pager-item,
.chara .bx-wrapper .bx-controls-auto-item {
display: inline-block;
}
.chara .bx-wrapper .bx-pager.bx-default-pager a {
background: #666;
text-indent: -9999px;
display: block;
width: 10px;
height: 10px;
margin: 0 5px;
outline: 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.chara .bx-wrapper .bx-pager.bx-default-pager a:hover,
.chara .bx-wrapper .bx-pager.bx-default-pager a.active {
background: #000;
}
/* controls (next / prev) */
.chara .bx-controls-direction a {
	position: absolute;
	top: 50%;
	outline: 0;
	width: 50px;
	height: 50px;
	margin-top: -50px;
	text-indent: -9999px;
	z-index: 7777;
	background: url(../img/icn_arrow.png) no-repeat;
	background-size: 50px 110px;
}
.chara .bx-wrapper .bx-prev {
	left:20px;
	background-position :0 0;
}
.chara .bx-wrapper .bx-next {
	right: 20px;
	background-position :0 -60px;
}

/* ---------- ero -------------------- */
.ero {
	width: 94%;
	margin: 0 3%;
	padding: 50px 0;
}
.ero h2 {
	padding: 0 0 20px;
/* 	text-align: center; */
}
.ero ul {
	width: 556px;
	margin: 0 auto;
}
.ero li {
	position: relative;
	width: 228px;
	height: 173px;
	float: left;
	padding: 17px;
	margin: 0 8px 17px;
	background: url(../img/ero/bg_frame.png) no-repeat 0 0;
}
.ero .new {
	position: absolute;
	top: 17px;
	left: 16px;
}
.ero .enlarge {
	position: absolute;
	bottom: 17px;
	right: 15px;
}

/* ----------special  -------------------- */
.special {
	width: 94%;
	margin: 0 3% 10%;
	text-align: center;
}
.special .lnav ul {
	width: 90%;
	margin:  5%;
	border: solid #fff;
	border-width: 2px 0 2px 2px;
	border-bottom: none;
}
.special .lnav ul li {
	position: relative;
	box-sizing: border-box;
	width:50%;
	float: left;
	border: solid #fff;
	border-width: 0 2px 2px 0;
}
.special .lnav ul li:nth-child(1),
.special .lnav ul li:nth-child(3) {
	border-right: 2px solid #fff;
}
.special .lnav ul li a {
	display: block;
	float: left;
	width: 87%;
	padding: 0.8em 3% 0.8em 10%;
	text-align: left;
	font-size: 18px;
	background: none;
}
.special .lnav li a.current,
.special .lnav li a:hover {
	background: rgba(100,0,0,0.5);
}
.special .lnav ul li a::after {
	content:"";
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.special h2 {
	padding: 30px 0;
}

.movie p {
	padding-top: 65%;
}
.movie p iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}
/*twitter---------- */
.twitter ul {
	overflow: hidden;
	width: 80%;
	margin: 0 10%;
}
.twitter li {
	width: 31.333%;
	float: left;
	padding: 0 1% 2%;
	color: #fff;
	text-align: center;
}
.twitter li img {
	display: block;
	padding: 0 0 10px;
	margin: 0 auto;
	text-align: center;
}
.twitter .headericn li {
	width: 100%;
	float: none;
	padding: 0 0 2%;
}
.twitter dl {
	width: 84%;
	padding: 3%;
	margin: 40px 5% 80px;
	color: #fff;
	text-align: left;
	border: 1px solid #ac4040;
	background: #7b0000;
	background: rgba(100,0,0,0.5);
}
.twitter dt {
	padding: 0 0 2px;
}

/*banner---------- */
.banner {
	width: 90%;
	margin: 0 5%;
}
.banner h2{
	padding: 0 0 25px;
}	
.banner01 .bnrimg {
/* 	width: 100%;
	margin: 0; */
	width:80%;
	padding: 0 10%;
}
.banner02 .bnrimg {
	width: 90%;
	padding: 0 5%;

}
.banner01 .bnrimg li {
/* 	width: 18%;
	margin: 0 1%; */
	width: 31.333%;
	margin: 0 1%;
}
.banner02 .bnrimg li {
	width:31.33%;
	margin: 0 1%;
}
.banner02 .bnrimg li img {
	display: block;
	margin: 0 auto; 
}
.banner03 .bnrimg li img {
	padding: 0;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.banner dl {
	width:100%;
	padding: 3% 5%;
	box-sizing: border-box;
}
.banner dl input {
	float: right;
	padding: 2px 2%;
	width: 85%;
}

/*==================================================
SYSTEM
==================================================*/
.system {
	width: 94%;
	margin: 0 3%;
	background: none;
}
.system div {
	margin: 0 0 10%;
}
.system p {
	position: absolute;
	top: auto;
	z-index: 333;
}
.stm01 {
	padding: 0 0 5%;
}
.stm01 h2 {
	padding:5% 2% 0 0;
	text-align: right;
}
.stm01 h2 img {
	max-width: 138px;
	width: 22%;
}
.stm01 figure {
	width: 80%;
	top: 0;
	left: 0;
}
.stm01 p {
	width: 76%;
	left: 0;
	bottom: 0;
}
.stm02 h2 {
	padding: 2% 0 0 2%;
}
.stm02 h2 img {
	max-width: 160px;
	width: 26%;
}
.stm02 figure {
	width: 75%;
	top: 0;
	left: auto;
	right: 0;
}
.stm02 p {
	width: 76%;
	left: auto;
	right: 0;
	bottom: 0;
}
.stm03 h2 {
	padding:5% 2% 0 0;
	text-align: right;
}
.stm03 h2 img {
	max-width: 188px;
	width: 20%;
}
.stm03 figure {
	width:80%;
	top: 0;
	left: 0;
}
.stm03 p {
	position: relative;
	width: 76%;
	left: 0;
	top: 0;
	padding: 2% 0 0;
}
.stm04 h2 {
	padding:15% 0 0 2%;
}
.stm04 h2 img {
	max-width: 178px;
	width: 24%;
}
.stm04 figure {
	width: 80%;
	top: 0;
	left: auto;
	right: 0;
	text-align: right;
}
.stm04 p {
	position: relative;
	width: 100%;
	left: auto;
	right: 0;
	bottom: 0;
	padding: 4% 0 0;
}
.stm05 h2 {
	padding: 0 5% 0 0;
	text-align: right;
}
.stm05 h2 img {
	max-width: 140px;
	width: 20%;
}
.stm05 figure {
	width: 95%;
	top: 0;
	left: auto;
}
.stm05 p {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	padding: 1% 0 0;
}
.stm06 {
	padding: 0 0 5%;
}
.stm06 h2 {
	padding: 0 0 0 5%;
}
.stm06 h2 img {
	max-width: 142px;
	width: 24%;
}
.stm06 figure {
	top: 0;
	left: auto;
	right: 0;
	text-align: right;
	width:80%;
}
.stm06 p {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	padding: 10% 0 0;
}
.stm06 p.guest {
	top: 0;
	left: 0;
	padding: 10% 0 0;
}

/*==================================================
@media
==================================================*/
/* -------------------------------------------media(min-width:769px) and (max-width:980px) */
@media(min-width:1px) and (max-width:980px) {

}/* end : 768px-980px */

/* -------------------------------------------media(min-width:641px) and (max-width:768px) */
@media(min-width:1px) and (max-width:768px){

.promotion .mov {
	top: 46%;
	left: 15%;
}
.promotion .mov a {
	top: 90%;
}
.promotion p {
	margin: 40% auto 5%;
}
.story {
	width: 70%;
	padding: 100px 12% 50px;
}
.story p {
	text-align: left;
	line-height: 170%;
}
.story br {
	display: none;
}
.stm01 {
	padding: 0;
}

}/* end : 641px-768px */

/* -------------------------------------------media(min-width:481px) and (max-width:640px) */
@media(min-width:1px) and (max-width:640px){
.promotion p {
	margin: 50% auto 5%;
}
.wrapper {
	background: url(../img/bg_top_sp.jpg ) no-repeat 50% 90px;
	background-size: contain;
}
.bunner li {
	width: 48%;
}
#home .wrapper {
	background: url(../img/bg_top_sp_home.jpg ) no-repeat 50% 90px;
	background-size: contain;
}
#header h1 {
	width: 170px;
}
h1.ttl {
	padding: 17% 0 14%;
}
.promotion {
	margin-top: 3%;
}
.promotion p {
	padding: 35% 0 0;
}
.promotion figure.movimg img {
	width: 35%;
}

.home_blog li img {
	width: 100%;
	height: 100%;
}
.home_blog .bx-controls-direction a {
	top: 30%;
}
.story {
	width: 80%;
	padding: 5% 7% ;
	margin: 2% auto;
	background: #f9e9cf;
}
.chara .type h2 img {
	width: 40%;
}
.chara .majin h2 img {
	width: 30%;
}
.ero ul {
	width: 100%;
}
.ero li {
	width: 44%;
	height: 125%;
	padding: 3% 2%;
	margin: 0 1% 4%;
	background: url(../img/ero/bg_frame.png) no-repeat 0 0;
	background-size: contain;
}
.ero li img:first-child {
	max-width: 95%;
}
.ero .new {
	top: 7.5%;
	left: 4.5%;
}
.ero .enlarge {
	bottom: 7.5%;
	right: 7.5%;
}
/* fancybox*/
.fancybox-nav span {
	top: 25%;
	margin-top: 0;
}
.fancybox-type-iframe .fancybox-inner {
	height: 550px !important;
}
.twitter li {
	width: 46%;
	padding: 0 2% 4%;
}
.banner dl input {
	width: 80%;
}
.system {
	padding: 5% 0 0;
}
.fancybox-nav {
	top: 30%;
}

}/* end : 481px-640px */
/* -------------------------------------------media(min-width:1px) and (max-width:480px) */
@media(min-width:1px) and (max-width:500px){
.promotion .mov {
	top: 45%;
	left: 15%;
}
.promotion .mov a {
	top: 80%;
}
}
/* -------------------------------------------media(min-width:1px) and (max-width:480px) */
@media(min-width:1px) and (max-width:480px){
.promotion .mov {
	top: 42%;
	left: 5%;
}
.promotion p {
	margin: 55% auto 5%;
}
.promotion figure.movimg img {
	left: 20%;
}
#header h1 {
	margin: 0 3%;
	text-align: left;
}
.mean-container .mean-nav {
	margin-top: 100px;
}
.mean-container .mean-nav ul li a {
	width: 77%;
	padding: 1em 3% 1em 17%;
}
/* .fancybox-nav span {
	visibility: hidden;
} */
.home_product dt {
	float: none;
}
.home_product dd,
.home_product dl+dl dd {
	padding: 0 0 10px 20px;
}
.story figure {
	width: 70%;
	padding: 10% 15%;
}
.story figure img {
	display: block;
	width: 100%;
	padding: 5% 0 0;
}
.twitter ul {
	width: 90%;
	margin: 0 5%;
}
.banner01 .bnrimg {
	width: 100%;
	margin: 0;
	padding: 0;
}
.banner01 .bnrimg li {
	width: 31.333%;
}
.banner02 .bnrimg {
	width: 100%;
	padding: 0;
}
.banner02 .bnrimg li {
	width: 48%;
}
.system p {
	font-size: 14px;
}
.fancybox-nav {
	top: 90%;
}
.footer p a {
	float: none;
	margin: 0 0 10px 0;
}
.footer .sns li {
	display: inline;
	padding: 5px;
}

}/* end : 1px-480px */

/* -------------------------------------------media(min-width:1px) and (max-width:480px) */
@media(min-width:1px) and (max-width:440px){
.promotion .mov {
	top: 42%;
	left: 5%;
}
.promotion p {
	margin: 70% auto 5%;
}
}
/* -------------------------------------------media(min-width:1px) and (max-width:480px) */
@media(min-width:1px) and (max-width:400px){
.promotion .mov {
	top: 42%;
	left: 0;
}
.promotion p {
	margin: 80% auto 5%;
}
}
/* -------------------------------------------media(min-width:1px) and (max-width:480px) */
@media(min-width:1px) and (max-width:360px){
.promotion .mov {
	top: 42%;
	left: -3%;
}
.promotion p {
	margin: 95% auto 5%;
}
}
/* -------------------------------------------media(min-width:1px) and (max-width:320px) */
@media(min-width:1px) and (max-width:320px){
.promotion .mov {
	top: 40%;
	left: -5%;
}
.promotion p {
	margin: 100% auto 5%;
}
.ero ul {
	width: 90%;
	padding: 0 5%;
}
.ero li {
	width: 90%;
	height: 130%;
	padding: 5% 5%;
	margin: 0 0 8%;
	background: url(../img/ero/bg_frame.png) no-repeat 0 0;
	background-size: contain;
}
.ero li img:first-child {
/* 	max-width: 100%; */
	margin: 0 auto;
}
.ero .new {
	top: 6.5%;
	left: 4.5%;
}
.ero .enlarge {
	bottom: 6%;
	right: 9%;
}
.stm01,
.stm02 {
	padding: 0 0 15%;
}
}/* end : 1px-320px */




