#slideR {
	z-index: 99;
	cursor: pointer;
	position: fixed;
	top: 40%;
	right: -140px;
	background: #FF9966;
	width: 180px;
	color: #fff;
	font-size: 16px;
}
#slideR a {
	color: #fff;
	display: block;
	padding: 5px 10px;
}
#slideR ul {
	position: relative;
	padding: 10px 10px 10px 40px;
}
#slideR .nav-icon {
	position: absolute;
	left: 10px;
	top: 40%;
	font-size: 20px;
}
/*
左のスライド
#slideL {
	z-index:100;
	cursor: pointer;
	position: fixed;
	top: 0;
	left: -400px;
	width: 400px;
	height: auto;
	padding: 0 40px 0 0;
	background: #999;
}
#slideL .slide-inner {
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	background: #ddd;
}
#slideL .slide-inner section {
	padding: 20px;
}
#slideL .nav-icon {
	position: absolute;
	right: 10px;
	top: 450px;
	font-size: 20px;
	color: #fff;
}*/
