/* 表示総枠（max-widthを変えるとそのサイズで表示） */
#stage { max-width:800px;background:#999;position:relative; }
/* サムネイル表示枠 */
#thumbs { width:50%; }
/* サムネイル画像 */
.thumb img {
    width:12%;
    transform-origin:-100% 50%;
    position:absolute;
    top:45%;
    left:45%;
}
/* サムネイル画像のaniomation設定 */
#t1 img { animation:thumbRotation 48s linear infinite;animation-delay:-12s; }
#t2 img { transform:rotate(-90deg);animation:thumbRotation 48s linear infinite;animation-delay:-6s; }
#t3 img { transform:rotate(-90deg);animation:thumbRotation 48s linear infinite;animation-delay: 0s; }
#t4 img { transform:rotate(-90deg);animation:thumbRotation 48s linear infinite;animation-delay: 6s; }
#t5 img { transform:rotate(-90deg);animation:thumbRotation 48s linear infinite;animation-delay:12s; }
#t6 img { transform:rotate(-90deg);animation:thumbRotation 48s linear infinite;animation-delay:18s; }
#t7 img { transform:rotate(-90deg);animation:thumbRotation 48s linear infinite;animation-delay:24s; }
#t8 img { transform:rotate(-90deg);animation:thumbRotation 48s linear infinite;animation-delay:30s; }
/* animation */
@keyframes thumbRotation {
0%    { transform:rotate(-90deg) }
1%    { transform:rotate(-60deg) }
12.5% { transform:rotate(-60deg) }
13.5% { transform:rotate(-30deg) }
25%   { transform:rotate(-30deg) }
26%   { transform:rotate( 0deg); }
27%   { transform:rotate( 0deg);width:10%;top:45%;left:45%;z-index:0; }
28%   { transform:rotate( 0deg);width:100%;top:0;left:0;z-index:100; }
36.5% { transform:rotate( 0deg);width:100%;top:0;left:0;z-index:100; }
37.5% { transform:rotate( 0deg);width:10%;top:45%;left:45%;z-index:0; }
38.5% { transform:rotate( 30deg) }
50%   { transform:rotate( 30deg) }
51%   { transform:rotate( 60deg) }
62.5% { transform:rotate( 60deg) }
63.5% { transform:rotate( 90deg) }
75%   { transform:rotate( 90deg);opacity:1; }
76%   { transform:rotate( 120deg);opacity:0; }
87.5% { transform:rotate( 270deg);;opacity:0; }
88.5% { transform:rotate( 270deg);opacity:1; }
100%  { transform:rotate( 270deg); opacity:1; }
}
  #wrap {
    position: relative;
  }
  #box1 {
  position: absolute;
  width: 500px;
  height: 100px;
  background: #CC0000;
  }
  #box2 {
  position: absolute;
  width: 500px;
  height: 150px;
  background: #CC3300;
  }
  #box3 {
  position: absolute;
  width: 500px;
  height: 100px;
  background: #CC6600;
  }
  #box4 {
  position: absolute;
  width: 500px;
  height: 100px;
  background: #CC9900;
  }
  #box5 {
  position: absolute;
  width: 550px;
  height: 300px;
  background: #CCFF00;
  }
.absolute{
  position: absolute;
  top: 60px;
  color: #fff;
  background: rgba(0,0,0,.6);
  padding: 1em 0;
  }
  .absolute p {
  margin: 0;
  padding: 0 0.8em;
  font-size: 150%;
  text-align: center;
  }
