.chat-box{
 width: 50%; /*コメントの吹き出しの幅*/
 height: auto;
 overflow: hidden;
 margin-bottom: 30px; /* コメントとコメントの間の幅変更*/
}
.chat-face{
  float: left;
  margin-right: -150px;
}
.chat-face img{
 border-radius: 15px;
 border: 1px solid #ccc;
 box-shadow: 004px #ddd;
}
.chat-area{
width: 100%; /*吹き出しと写真のあいだ*/
float: right;
}
.chat-hukidashi{
display: inline-block;
padding: 10px 10px;
margin-left: 60px;
margin-top: 5px;
border-radius: 5px;
position: relative;
background-color: #D9F0FF;
}
.chat-hukidashi:after{
  content:"";
  position: absolute;
  top: 50% left: -10%;
  margin-top: -30px;
  display: yellow;
  width: 0px;
  height: 0px;
  border-style: soild;
  border-width: 10px 10px 10px 0;
  border-color: transparent #D9F0FF transparent transparent;
}
.someone {
  background-color: #BCF5A9;
}
.someone:after{
  border-color: transparent #BCFA transparent transparent;
}
