/*==================================================
HOME
==================================================*/
#homemain {
	position: relative;
	background: url(../img/bg_middle.png) no-repeat 50% bottom;
}
.promotion {
	min-height: 1020px;
	background: url(../img/bg_promotion.png) no-repeat 50% 45px;
}
.promotion .inr {
	position: relative; 
	width: 1000px;
	margin:0 auto 140px;
}
.promotion h2 {
	padding: 0 0 0 420px;
}
.promotion figure.movimg img {
	position :absolute;
	top: 720px;
	right: auto;
	left: 0;
}
.promotion p {
	position: relative; 
/* 	z-index: 999; */
	padding: 300px 0 0 400px;
}
.promotion .date {
	position :absolute;
	top: 620px;
	left: -50px;
}


.promotion .mov {
	position :absolute;
	top: 720px;
	right: auto;
	left: 0;
	width: 362px;
	height: 300px;
}
.promotion .mov .audiojs {
	display: block;
	position: relative;
	overflow: hidden;
	top: -280px;
	width: 362px;
	height: 250px;
	text-indent: 100%;
	white-space: nowrap;
	background: none;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.promotion .mov .audiojs .play {
	background: none;
}
.promotion .mov .audiojs .play-pause {
	display: block;
	width: 362px;
	height: 250px;
	cursor: pointer;
	background: none;
}
.promotion .mov .audiojs .play-pause .play {
	display: block;
	width: 81px;
	height: 34px;
}
.promotion .mov a {
	position: absolute;
	top: 300px;
	right: 0px;
	color: #fff;
}



/* home_blog */
.home_blog {
	position: relative;
	width: 1000px;
	height: 720px;
	margin: 0 auto;
}
.home_blog h2,
.home_blog h3 {
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}
.home_blog h2 {
	width: 334px;
	height: 96px;
	padding: 0 0 20px 600px;
	text-align: center;
	background: url(../img/ttl_home_blog.png) no-repeat right 0;
}
.home_blog h3 {
	width:201px;
	height: 19px;
	padding: 25px 0 60px 670px;
	text-align: center;
	background: url(../img/ttl_home_blog02.png) no-repeat right 0;
}
.home_blog ul {
	width: 732px;
}
.home_blog li {
	width: 133px;
	float: left;
	padding: 0 25px;
}
.home_blog li img {
	padding: 0 0 20px;
}
.home_blog li p {
	font-size: 13px;
	color: #fff;
}
.home_blog li p a {
	display: block;
	padding: 3px 0 0;
	color: #fff;
	text-decoration: underline;
}
.home_blog figure img {
	position: absolute;
}
.home_blog figure img.chara01 {
	top: -35px;
	left: 360px;
}
.home_blog figure img.chara02 {
	top: 190px;
	left: -110px;
/* 	left: 0; */
}
.home_blog figure img.chara03 {
	top: 350px;
	right: -92px;
/* 	right: 0; */
}

.home_blog .bx-wrapper {
	position: relative;
}
/* controls (next / prev) */
.home_blog .bx-controls-direction a {
	position: absolute;
	top: 25px;
	outline: 0;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	z-index: 999;
	background: url(../img/icn_arrow.png) no-repeat;
	background-size: 50px 110px;
}
.home_blog .bx-wrapper .bx-prev {
	left: -75px;
	background-position :0 0;
}
.home_blog .bx-wrapper .bx-next {
	right: -75px;
	background-position :0 -60px;
}

/* home_product */
.home_product {
	height: 760px;
	background: url(../img/bg_home_product.png) no-repeat 50% bottom;
}
.home_product .inr {
	width: 1000px;
	margin: 0 auto;
}
.home_product h2,
.home_product h3 {
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}
.home_product h2 {
	width: 421px;
	height: 70px;
	margin: 0 auto 20px;
	text-align: center;
	background: url(../img/ttl_home_product.png) no-repeat 0 0;
}
.home_product h3 {
	width:134px;
	height: 19px;
	margin: 0 auto;
	text-align: center;
	background: url(../img/ttl_home_product02.png) no-repeat 0 0;
}
.home_product dl {
	float: left;
	color: #4a3708;
}
.home_product h3+dl {
	width: 420px;
	padding: 135px 0 0 73px;
}
.home_product dl+dl {
	width: 372px;
	padding: 135px 73px 0 60px;
}
.home_product dt {
	width: 85px;
	float: left;
	padding: 5px 0;
	font-weight: bold;
}
.home_product dd {
	padding: 5px 0 5px 85px;
}
.home_product dl+dl dt {
	width: 105px;	
}
.home_product dl+dl dd {
	padding: 5px 0 5px 105px;
}

/*==================================================
STORY
==================================================*/
.story {
	position: relative;
	width: 1000px;
	height: 1007px;
	padding: 110px 0 0;
	margin: 0 auto;
	background: url(../img/bg_story.png) no-repeat 50% 0;
}
.story p {
	color: #302105;
	font-family: "Hiragino Mincho ProN","HGæ˜ŽæœE","ï¼­ï¼³ ï¼°æ˜Žæœ", serif;
	text-align: center;
	font-size: 19px;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
	line-height: 240%;
}
.story p+p {
	padding: 50px 0 0;
}
.story figure img {
	position: absolute;
}
.story .scene01 {
	top: 268px;
	left: 10px;
}
.story .scene02 {
	top: 458px;
	right: 28px;
}
.story .scene03 {
	top: 716px;
	left: 112px;
}

/*==================================================
CHARACTER
==================================================*/
.chara {
	background: url(../img/bg_chara.png) no-repeat 50% 525px;
}
.chara .type {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
.chara .type ul {
	display: none;
}
.chara .mapimg {
	border: none;
/* 	outline: none; */
}
.chara .rance {
	background: url(../img/bg_chara_r.png) no-repeat 50% 0;
}
.chara .rance h2 {
	text-align: center;
}
.chara .rance h2+img {
	margin-top: -50px;
}
.chara .heruman {
	background: url(../img/bg_chara_h.png) no-repeat 50% 30px;
	z-index: 2222;
}
.chara .heruman h2 {
	float: right;
	padding: 327px 70px 0 0;
}
.chara .heruman h2+img {
 	float: left;
}
.chara .majin {
	position: relative;
	background: url(../img/bg_chara_m.png) no-repeat 0 10px;
	z-index: 2222;
}
.chara .majin h2 {
	position: absolute;
	top: 75px;
	left: 277px;
}
.chara .majin h2+img {
	position: relative;
	margin: -150px 0 0;
	z-index: 2222;
}
.chara .various {
	width: 1170px;
	background: url(../img/bg_chara_v.png) no-repeat 0 65px;
}
.chara .various h2 {
	padding: 30px 0 0 615px;
}
.chara .various h2+img {
	margin: -30px 0 0 140px;
}

/*==================================================
ERO
==================================================*/
.ero {
	width: 840px;
	margin: 0 auto;
	padding: 0 100px;
}
.ero h2 {
	padding: 0 0 20px;
	text-align: center;
}
.ero ul {
	width: 837px;
	margin: 0 -17px 0 0;
}
.ero li {
	position: relative;
	width: 228px;
	height: 173px;
	float: left;
	padding: 17px;
	margin: 0 8px 17px;
	background: url(../img/ero/bg_frame.png) no-repeat 0 0;
}
.ero .new {
	position: absolute;
	top: 17px;
	left: 16px;
}
.ero .enlarge {
	position: absolute;
	bottom: 17px;
	right: 15px;
}
.ero ul+h2 {
	padding: 70px 0 20px;
}

/*==================================================
SPECIAL
==================================================*/
.special {
	width: 1000px;
	margin: 0 auto;
}
.special .lnav ul {
 	width: 628px;
	margin: 0 auto;
}
.special .lnav li {
	width: 157px;
	float: left;
	font-size: 23px;
	text-align: center;
	font-family: "Hiragino Mincho ProN","HGæ˜ŽæœE","ï¼­ï¼³ ï¼°æ˜Žæœ", serif;
}
.special .lnav li a {
	display: block;
	padding: 44px 0;
	color: #fff;
}
.special .lnav li a.current,
.special .lnav li a:hover {
	color: #fcce27;
	background: url(../img/bg_special_lnav.png) no-repeat 50% 50%;
}
.special h2 {
	padding: 60px 0 30px;
	text-align: center;
}

/* movie --------------*/
.movie {
	padding-bottom: 100px;
}
/* movie --------------*/
.movie {
	padding-bottom: 100px;
}
.movie p {
	position: relative;
	width: 100%;
	text-align: center;
}
.movie iframe {
	margin: auto;
	display: block;
	width: 640px;
	height: 480px;
}
/*twitter---------- */
.twitter ul {
	width: 642px;
	margin: 0 auto;
}
.twitter li {
	width: 200px;
	float: left;
	padding: 0 7px 14px;
	color: #fff;
	text-align: center;
}
.twitter li img {
	padding: 0 0 10px;
}
.twitter .headericn li {
	float: none;
}
.twitter dl {
	width:592px;
	padding: 22px 18px;
	margin: 40px auto 80px;
	color: #fff;
	border: 1px solid #ac4040;
	background: rgba(100,0,0,0.5);
}
.twitter dt {
	padding: 0 0 2px;
}


/*banner---------- */
.banner {
	width: 720px;
	margin: 0 auto;
}
.banner h2{
	padding: 0 0 25px;
}	
.bnrimg li {
	margin: 0 auto 20px;
	color: #fff;
	text-align: center;
}
.bnrimg li img {
	padding: 0 0 20px;
}
.banner01 {
	padding: 60px 0 80px;
}
.banner01 .bnrimg {
	overflow: hidden;
/* 	width: 750px;
	margin: 0 -30px 0 0; */
	width: 450px;
	margin: 0 auto;
}
.banner02 {
	padding: 0 0 80px;
}
.banner02 .bnrimg {
	padding: 0 30px;
}
.banner01 .bnrimg li,
.banner02 .bnrimg li {
	float: left;
}
.banner01 .bnrimg li {
	width: 120px;
	margin: 0 30px 0 0;
}
.banner02 .bnrimg li {
	width: 200px;
	margin: 0 10px;
}
.banner03 {
	padding: 0 0 80px;
}
.banner03 .bnrimg li img {
	padding: 0;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.banner dl {
	display: block;
	width: 683px;/* -border2px in*/
	padding: 15px 20px 15px 15px;
	color: #fff;
	text-align: left;
	border: 1px solid #ac4040;
	background: rgba(100,0,0,0.5);
}
.banner dt {
	padding: 0 0 10px;
}
.banner dd li {
	margin: 1px 0;
	line-height: 35px;
}
.banner dl input {
	float: right;
	padding: 2px 5px;
	width: 625px;
	color: #000;
}

/*==================================================
SYSTEM
==================================================*/
.system {
	width: 1000px;
	margin: 0 auto;
	background: url(../img/bg_system.png) no-repeat 50% 0;
}
.system div {
	position: relative;
}
.system h2 {
	position: relative;
	z-index: 333;
}
.system figure,
.system p {
	position: absolute;
}
.system p {
	color: #fff;
	font-size: 16px;
	line-height: 140%;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	font-family: "Hiragino Mincho ProN","HGæ˜ŽæœE","ï¼­ï¼³ ï¼°æ˜Žæœ", serif;
}
.stm01 h2 {
	padding: 61px 0 48px 743px;
}
.stm01 figure {
	top: 50px;
	left: 0;
}
.stm01 p {
	width: 290px;
	top: 462px;
	left: 384px;
}
.stm02 h2 {
	padding: 57px 0 103px 48px;
}
.stm02 figure {
	top: 0;
	left: 213px;
}
.stm02 p {
	width: 720px;
	top: 620px;
	left: 262px;
}
.stm03 h2 {
	padding: 13px 0 174px 770px;
}
.stm03 figure {
	top: 0;
	left: 20px;
}
.stm03 p {
	width: 765px;
	top: 630px;
	left: 60px;
}
.stm04 h2 {
	padding: 0px 0 227px 103px;
}
.stm04 figure {
	top: 15px;
	left: 340px;
}
.stm04 p {
	width: 462px;
	top: 475px;
	left: 0;
}
.stm05 h2 {
	padding: 0px 0 86px 720px;
}
.stm05 figure {
	top: 0px;
	left: 0;
}
.stm05 p {
	width: 765px;
	top: 530px;
	left: 60px;
}
.stm06 h2 {
	padding: 0px 0 180px 50px;
}
.stm06 figure {
	top: -50px;
	left: 300px;
}
.stm06 p {
	top: 470px;
	left: 0;
	width: 460px;
}
.stm06 p.guest {
	top: 600px;
	left: 0;
}
/*==================================================
SPLASH
==================================================*/


#bg {
    z-index: -1;
    position:abssolute;
    top:0px;
    left:0px;
}


#gahaha{
	width:102%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	margin-top:-10px;
	z-index:1000;
}

#gahaha img{
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
}




#topsplash_chara{
	position: relative;
	margin:0;
	z-index:2000;
	width:100%;
	background-position:center top;
}
#contents{
	position:absolute;
	z-index:3000;
	top: 50%;
	left: 50%;
	margin: -23px 0 0 -270px;
}

#scroll {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:3000;
}
#scroll img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-18px;
	margin-top: 100px;
}
#topsplash{
	width:100%;
	position:relative;
	z-index:9999;
	background-image:url(../img/spr/bg.jpg);
	background-position:center top;
	background-repeat:repeat-x;
	background-color:#FEF4E0;
}

